/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página */
body {
    background-color: #0f172a;
    color: #e5e7eb;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 32px 16px;
}

header h1 {
    font-size: 2rem;
    color: #38bdf8;
}

/* Área principal */
main {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 32px 16px;
    flex-wrap: wrap;
}

/* Card */
.card {
    background-color: #020617;
    width: 295px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Título da moeda */
.card h2 {
    font-size: 1.4rem;
}

/* Sigla */
.sigla {
    color: #94a3b8;
    font-size: 0.9rem;
}

/* Preço */
.preco {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Variação */
.variacao {
    font-weight: bold;
}

/* Lucro / Prejuízo */
.resultado {
    font-weight: bold;
}

.resultado span {
    font-size: 0.9rem;
}

/* Cores */
.positivo {
    color: #22c55e;
}

.negativa {
    color: #ef4444;
}

.btn {
    margin-top: 12px;
    text-align: center;
    padding: 10px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease,
                transform 0.2s ease,
                box-shadow 0.2s ease;
}

.btn:hover {
    background-color: #22d3ee; /* cor mais vibrante */
    transform: scale(1.05);   /* leve crescimento */
    box-shadow: 0 8px 20px rgba(34, 211, 238, 0.4);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 24px;
    color: #94a3b8;
    font-size: 0.9rem;
}

.subtitle {
    margin-top: 8px;
    color: #94a3b8;
    font-size: 1rem;
}
